/* Variables */

:root {
  --basic-white: #ffffff;
  --background-one: #F1F5F7;
  --background-top: #F3F7F9;
  --background-top-two: #F2F6F8;

  --dark-top-one: #293449;
  --dark-top-two: #32425C;
  --dark-top-click: #161D29;
  --dark-menu-click: #1D2739;
  --grey-light: #C5C5C5;
  --basic-red: #EE3643;
  --red-one: #CA2C37;
  --red-two: #BA2732;
  --basic-green: #63A63E;
  --green-one: #5FBB2D;
  --green-two: #518534;

  --special-catalog: #F7F3EC;
  --special-index: #F9F5F0;

  --special-yellow: #FFBF47;
  --special-yellow-two: #FFC047;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;

  --font-black:#000000;
  --font-grey-light: #A9A9A9;
  --font-yellow: #FFD180;

  --font-menu-click: rgba(255, 255, 255, 0.5);
  --white-03: rgba(255, 255, 255, 0.3);

  --border-item: #EAEAEA;
  --border-pagination: #E5E5E5;

  --features: rgba(197,197,197,0.3);
  --features-dark: rgba(169,169,169,0.3);
  --sorting-black: rgba(0, 0, 0, 0.3);
}

  /* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

/* Grid for pages */

.main-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

/*Container*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.main-header {
  background-color: var(--background-top);
}

.main-header-bar {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--dark-top-one);
}

 .header-top {
  display: grid;
  grid-template-columns: 220px 271px repeat(3, 1fr);
  width: 940px;
  height: 42px;

  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 220px;
	height: 47px;
  background: var(--basic-red) url("./img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

/*
.logo:active {
  background-color: var(--red-two);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
*/


.search-form input[type="search"] {
  height: 42px;
  width: 271px;

  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-top-one);
  border: none;
}

.search-form::before {
  content: "";

  width: 17px;
  height: 17px;
  margin-right: 8px;

  background-image: url("./img/icon-search.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.search-form input:focus {
  color: var(--font-black);
  outline: none;
  background-color: var(--basic-white);
}

.bookmarks::before {
  content: "";

  width: 14px;
  height: 15.58px;
  margin-right: 9px;

  background-image: url("./img/icon-bookmark.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.basket::before {
  content: "";

  width: 15px;
  height: 15px;
  margin-right: 8px;

  background-image: url("./img/icon-cart.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.bookmarks:active, .basket:active {
  color: var(--font-menu-click);
  background-color: var(--dark-top-click);
}

.full-basket {
  height: 42px;
  background-color: var(--basic-red);
}

.full-basket:active {
  background-color: var(--red-two);
  color: var(--font-menu-click);
}

.make-order {
  height: 42px;
  width: 150px;
  background-color: var(--basic-green);
}

 .make-order:hover {
  background-color: var(--green-one);
 }

.make-order:active {
  background-color: var(--basic-green);
  color: var(--font-menu-click);
}

.header-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;

  height: 158px;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--background-top);
}

.text {
  height: 71px;
  width: 197px;

  margin: 0;
  padding-top: 42.5px;

  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.phone-adress {
  width: 270px;
  justify-self: center;
  text-align: center;
}

.phone-top {
  height: 45px;
  width: 270px;

  background-color: var(--background-top);
  border: 3px solid var(--basic-white);
}

.phone {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-red);
}

.phone::before {
  content: "";

  height: 19px;
  width: 19px;
  margin-right: 16.51px;

  background-image: url("./img/icon-phone.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.adress-top {
  font-size: 14px;
  color: var(--dark-one);
  line-height: 24px;
  text-align: center;
}

.user-navigation {
  justify-self: end;
  padding-top: 46px;
}

.user-office:before {
  content: " • ";
  height: 7px;
  width: 6px;
  font-weight: bold;
  color: var(--dark-top-two);
}

.sign-in, .sign-up {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--font-black);
  background-color: var(--basic-white);
}

.sign-in {
  height: 45px;
  width: 121px;
  margin-right: 10px;
  padding: 12px 27px 12px 45px;
}

.sign-in::before {
  content: "";

  height: 20px;
  width: 17px;
  margin-right: 16.51px;

  background-image: url("./img/icon-logout.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.sign-up {
  height: 45px;
  width: 150px;

  padding: 12px 24px 12px 24px;
}

.sign-in:hover, .sign-up:hover {
  color: var(--basic-red);
}

.sign-in:active, .sign-up:active {
  color: var(--grey-light);
}

.user {
  height: 45px;
  width: 299px;

  padding: 12px 56px 12px 57px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--font-black);
  background-color: var(--basic-white);
}

.user::before {
  content: "";

  height: 20px;
  width: 17px;
  margin-right: 16.51px;

  background-image: url("./img/icon-user.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.user::after {
  content: "";

  height: 20px;
  width: 17px;
  margin-left: 20px;

  background-image: url("./img/icon-logout.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: var(--font-black);
}

.user-menu a:hover {
  color: var(--basic-red);
}

.user:active, .user-menu:active {
  color: var(--grey-light);
}

/* User navigation */

.main-navigation-wrapper {
  height: 60px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 60px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-top-two);
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top a, .site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--dark-top-one);
}

.site-navigation a:active {
  background-color: var(--dark-menu-click);
  color: var(--font-menu-click);
}

.page-title {

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
  color: var(--dark-top-two);
  background-color: var(--background-top-two);
}

/*Filters*/

.filters {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter legend {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--font-black);
}

.legend {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-button {
  color: var(--font-black);
  background-color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;

  border: 1px solid var(--border-pagination);
  box-sizing: border-box;
}

.filters h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--font-black);
  background-color: var(--special-catalog);
  text-transform: uppercase;
}

/*Catalog right-container*/

.right-container {
  margin-left: 20px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--font-black);
  background-color: var(--special-catalog);
  text-transform: uppercase;
}

.sorting h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-goods a {
  color: var(--sorting-black);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-goods a:hover {
  color: var(--font-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-goods a:active {
  color: var(--basic-red);
}

.sorting-goods .active-sorting {
  color: var(--basic-red);
}

/* Features */

.main {
  margin-top: 59px;
}

.features {
  height: 409px;
  width: 940px;
  margin-bottom: 59px;

  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 20px;
  row-gap: 20px;
}

/* .features-slider {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
*/


.features-item {
  width: 300px;
  height: 123px;
}

.yellow {
  background-color: var(--special-yellow);
}

.yellow:after {
  content: "";

  width: 44px;
  height: 65px;
  margin-right: 55px;

  background-image: url("./img/icon-1.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.blue {
  background-color: var(--special-blue);
}

.blue:after {
  content: "";

  width: 75px;
  height: 61px;
  margin-right: 37px;

  background-image: url("./img/icon-2.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.purple {
  background-color: var(--special-purple);
}

.purple:after {
  content: "";

  width: 78px;
  height: 62px;
  margin-right: 34px;

  background-image: url("./img/icon-3.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.green {
  grid-column: 3 / 4;
  background-color: var(--special-green);
}

.green:after {
  content: "";

  width: 59px;
  height: 72px;
  margin-right: 38px;

  background-image: url("./img/icon-4.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.yellow-two {
  grid-column: 3 / 4;
  background-color: var(--special-yellow-two);
}

.yellow-two:after {
  content: "";

  width: 78px;
  height: 63px;
  margin-right: 34px;

  background-image: url("./img/icon-5.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.features-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features-link  {
  height: 38px;
  width: 135px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);

  background-color: var(--white-03);
}

.features-link:hover {
  background: var(--features);
}

.features-link:active {
  background-color: var(--features-dark);
}

/*Goods*/

.main .goods {
  display: grid;
  grid-template-rows: repeat(2, auto);
  height: 427px;
  width: 940px;
}

.catalog .goods {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 20px;
}

.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  row-gap: 20px;
}



.popular-goods, .section-manufacturers {
  height: 89px;
  width: 940px;
  margin-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--special-index);
}

.popular-goods {
  grid-column: 1 / 5;
  grid-template-columns: 1fr 1fr;
}

.popular-goods h2, .section-manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--dark-top-two);
}

.popular-goods-item {
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.popular-goods-item h3 {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.popular-goods-item  {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.popular-goods-item s {
  text-decoration: line-through;
  color: var(--font-grey-light);
}

.red-button {
  color: var(--basic-white);
  background: var(--basic-red);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.actions {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.actions .buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green);
  border-radius: 2px;
}

.buy:hover {
  background-color: var(--green-one);
}

.buy:active {
  background-color: var(--green-two);
}

.actions .bookmark {
  color: var(--dark-top-two);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.bookmark:hover {
  border-color: var(--dark-top-two);
}

.bookmark:active {
  color: var(--font-grey-light);
  border: 3px solid var(--font-grey-light);
}

.popular-goods-item {
  height: 318px;
  width: 220px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

  border: 1px solid var(--border-item);
  box-sizing: border-box;
}

.popular-goods-item:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--font-black);
}

.breadcrumbs li:first-child::before {
  content: "";
  height: 14px;
  width: 12px;

  background-image: url("./img/icon-home.svg");
  position: absolute;
}

.breadcrumbs-current {
  color: var(--font-black);
}

/*Manufacturers*/

.manufacturers {
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  text-align: center;
  border: 1px solid var(--border-item);
}

.manufacturers-item a {
  display: block;
  height: 100%;
}

.manufacturers-item:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.manufacturers-item:active {
  opacity:0.3;
}

/*Servises*/

.servises {
  height: 522px;
  color: var(--font-black);
  background-color: var(--background-top-two);
}

.servises h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.servises p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Company-contacts*/

.company-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-contacts h2, .additional h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--font-black);
}

.company-contacts p, .additional p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--font-black);
}

.about-company  {
  padding-bottom: 70px;
}

.contacts {
  justify-self: end;
}

.transport {
  margin: 0;
  padding: 0;
  list-style: none;
}

.transport li {
  padding: 12px;
}

.transport li:before {
  content: "── ";
  height: 2px;
  width: 25px;
  font-weight: bold;
  color: var(--basic-red);
}

/* Pagination */

.pagination-list {
  list-style: none;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item a {
  color: var(--font-black);
  background-color: var(--basic-white);
  border: 1px solid var(--border-pagination);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.pagination-item-current a {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

/*Additional information*/

.additional {
  grid-column: 1 / -1;
  background-color: var(--background-one);
  margin: 0;
}

.additional h2 {
  padding-top: 64px;
}

.additional p {
  padding-bottom: 68px;
}

/*Footer*/

.footer-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--dark-top-two);
}

.footer-menu-list1, .footer-menu-list2 {
  list-style: none;
}

.footer-one {
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts a {
  color: var(--basic-white);
}

.footer-menu-list2 a {
  color: var(--font-yellow);
}

.footer-menu-list1 a:hover, .footer-menu-list2 a:hover {
  text-decoration: underline;
}

.footer-menu-list1 a:active, .footer-menu-list2 a:active {
  opacity: 0.5;
}

.footer-two {
  padding: 35px ;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--dark-top-one);
}

.footer-two .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rights {
  margin: 0;
  width: 227px;
}

.rights p {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

.footer-social {
  width: 132px;
  justify-self: center;
}

.feedback {
  max-width: 137px;
  margin: 0;
  justify-self: end;
}

.copyright {
  max-width: 98px;
  margin: 0;
  justify-self: end;
}

.feedback a, .copyright a {
  color: var(--font-yellow);
}

.feedback a:active, .copyright a:active {
  color: var(--basic-red);
}

 /*Modal*/

.write-us label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-black);
}

.write-us input[type="name"],
.write-us input[type="e-mail"],
.letter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--font-grey-light);
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;

  padding-top: 11px;
  padding-bottom: 9px;
}

.button:hover {
  background-color: var(--red-one);
}

.button:active {
  background-color: var(--red-two);
}

.visually-hidden {
  display: none;
}
